

<div class="row" *ngFor="let hire of hires">
<div *ngIf = "hire.group_id === authTokenService.currentUserData.group_id">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Group ID : {{hire.group_id}}</span>
        <p> invoice_number : {{hire.invoice_number}}</p>
      </div>
      <div class="card-action" >
        <a (click)= "goToShow(hire)" class="proposal-link">Click Here To View Hire</a>
      </div>
    </div>
  </div>
</div>
</div>


