<form (ngSubmit)="createHire()" #f="ngForm">
<!-- <div class = "container" >
<div class = "row">
<div clas ="col-12 mt-5 mb-5">
    <input  id="date" type="date" placeholder="Pick Collection Date"  required  
    [(ngModel)]="collection.collectionDate" name='collectionDate'>
</div>
  </div>
</div> -->

<div class = "container"  >
    <div class = "row">
    <div clas ="col-12 mt-5 mb-5">
        <div>
        <label for="collection">Set Collection Date and Time</label>
    </div>
        <input id="datetime" type="datetime-local"  required  
        [(ngModel)]="hire.collect_date" name='collection'>
    </div>
      </div>
    </div>

<div class = "container" >
        <div class = "row">
        <div clas ="col-12 mt-5 mb-5">
            <div>
             <label for="collection">Set Return Date and Time</label>
            </div>
            <input id="datetime" type="datetime-local" required  
            [(ngModel)]="hire.return_date"  name='return'>
        </div>
          </div>
        </div>
        <div class = "container" >
         <button type="submit"> get collection</button>
        </div>
 </form>