<div class="row" >
  <div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div *ngIf="hire" class="card-content white-text">
          <span class="card-title">Group ID : {{hire.group_id}}</span>
          <!-- <p> id : {{hire.id}}</p> -->
          <p>collect_date : {{hire.collect_date}}</p>
          <p>return_date : {{hire.return_date}}</p>
          <p> band : {{hire.band}}</p>
          <p> reference : {{hire.reference}}</p>
          <p> invoice_number : {{hire.invoice_number}}</p>
          <p> orders : {{hire.orders[0].item.size.details}}</p>
        </div>
        <div class="card-action" >
        <button>EDIT HIRE</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  